
.column, .columns {
    margin:0;
}


.horizontal-nav ul {
list-style-type: none;
margin: 0;
padding-bottom: 20px;
}

.horizontal-nav li {
background: teal;
color: white;
display: inline;
margin: 0;
height: 38px;
padding: 0;
}

.horizontal-nav a {
background: teal;
color:white;
font-weight: bold;
text-decoration: none;
}

.horizontal-nav a:hover {
background-color: #d9d9d9;
}

.horizontal-nav .currentpage a {
background: orange;
color: black;
}

.container {
	background-color: #fff9e6;
	padding: 20px 10px 10px 20px;
}


h2 {
	color: #b30000;
	font-style:italic;
	
}

h3 {
	text-align: center;

}

h4 {
	text-align: center;

}

.column-value {
	padding-bottom: 20px;
	border-bottom: dotted 8px #b30000;
}

html {
	font-family:Georgia, serif;
}

th {
	color: white;
}

td, th {border-bottom: 1px solid #b30000; 
	text-align: center;

}

tbody tr:nth-child(odd) {
   background-color: #ffcc80;
}


tbody tr:nth-child(1) {
   background-color: teal;
   border: none;
}



footer {
	margin: 0;
	font-size: 13px;
	padding: 5px;
	background:orange;
	vertical-align: middle;
	text-align: center;
	width: 
	

}

body {
	font-family:Georgia, serif;
}

figure {
	position: center;
}

ul{
	list-style-type: circle;
	list-style: 
	text-align:center;
}

ol

.column1 {
	width:40%;
	float: left;
	max-width: 420px;
	vertical-align: top;
	padding-right: 10px;
	margin-right: 20px;
	background: #d9d9d9;
	padding-left: 10px;
	height: 1383px;
	text-align: justify;
	margin-right: 0;

}

article.column1 {
	width:40%;
	margin: 0;
}



.column2 {
	width:40%;
	display: inline-block;
	float: right;
	vertical-align: top;
	padding: 0;
	margin: 0;
	background: #b30000;
	color: #fff9e6;;
	padding-left: 10px;
	padding-right: 10px;
	height: 1383px;
	text-align: justify;

	
}

.Citations {
	font-size: 12px;
}

aside.recipe {background-image: url(../images/nyc-seal.png);
	background-repeat: no-repeat;
	background-position: top center;
}


figure img {height:200px;
	width: 200px;
	padding-left: 70px;
}

figcaption {
	text-align: center;
}


#photo img {
	height:300px;
	width: 415px;
	padding: 0;
}

#photo {
	margin: 0;
}













