
.column, .columns {
    margin:0;
}


.horizontal-nav ul {
list-style-type: none;
margin: 0;
padding-bottom: 20px;
}

.horizontal-nav li {
background: teal;
color: white;
display: inline;
margin: 0;
height: 38px;
padding: 0;
}

.horizontal-nav a {
background: teal;
color:white;
font-weight: bold;
text-decoration: none;
}

.horizontal-nav a:hover {
background-color: #d9d9d9;
}

.horizontal-nav .currentpage a {
background: orange;
color: black;
}

.container {
	background-color: #fff9e6;
	padding: 20px 10px 10px 20px;
}


h2 {
	color: #660000;
	font-style:italic;

}

h3 {
	text-align: center;

}

h4 {
	text-align: center;

}

.column-value {
	padding-bottom: 20px;
	border-bottom: dotted 8px #b30000;
}

html {
	font-family:Georgia, serif;
}

th {
	color: white;
}

td, th {border-bottom: 1px solid #b30000;
	text-align: center;

}

tbody tr:nth-child(odd) {
   background-color: #ffcc80;
}


tbody tr:nth-child(1) {
   background-color: teal;
   border: none;
}



footer {
	margin: 0;
	font-size: 13px;
	padding: 5px;
	background:orange;
	vertical-align: middle;
	text-align: center;
	width:


}

body {
	font-family:Georgia, serif;
}

figure {
	position: center;
}

ul{
	list-style-type: square;
	color:navy;
	text-align:left;



}

ol {
	background-color: teal;
color:white;
padding:10px;

}


.column1 {
	width:48%;
	max-width: 400px;
	float: left;
	vertical-align: top;
	background: #d9d9d9;
	padding-left: 10px;
	padding-right: 20px;
	height: 1500px;
	text-align: justify;

}

article.column1 {
	width:40%;

}

.column2 {
	width:46%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	background: #660000;
	color: #fff9e6;;
	padding-left: 10px;
	padding-right: 10px;
	height: 1480px;
	margin-left: 70px;
	text-align: justify;


}

.Citations {
	font-size: 12px;
}


figure img {height:200px;
	width: 200px;
	padding-left: 70px;
}

figcaption {
	text-align: center;
}


#photo img {
	height:300px;
	width: 415px;
	padding: 0;
}

#photo {
	margin: 0;
}

.column-value1 {
	background-color: #660000;
	color:white;
	padding: 10px;
	margin:5px 0px;

}

.column-value2 {
	background-color: orange;
	color:navy;
	padding: 10px;
	margin:5px 0px;


}

.column-value3 {
	background-color: #d9d9d9;
	color:nav
	padding: 10px;
	margin:5px 0px;


}

#value-multiplier1 {
	color: white;
}


@media (max-width: 1100px) {

  #photo img {
  	height:30%;
  	width: auto;;
  	padding: 0;
  }

   .column1  {
    	width:100%;
      max-width: none;
    	vertical-align: top
    	padding: 10px;
      max-width: none;
  }

  article.column1 {
  	width:100%;

  }

  .column2 {
  	width:100%;
    max-width: none;
    margin:10px;
  	vertical-align: top;
  	padding: 10px;
    float:left;
  }
  article.column2 {
  	width:100%;

  }
}
